.level {
  display: flex;
  font-size: 2rem;
  column-gap: 2rem;
  
}

.level__button {
  padding: 0.2rem 1rem;
  cursor: pointer;
  transition: color 250ms ease-in-out;

  &:hover {
    color: $color-hover;
  }
}

.level_selected {
  color: #866464;
}