.theme {
  display: flex;
  column-gap: 2rem;
}

.theme__button {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 250ms ease-in-out;

  &:hover {
    color: $color-hover;
  }

  &_selected {
    color: #866464;
  }
}
